<launch>
    <param name="baseline_bag" value="/media/marwan/external_drive/ICRA_2021/around_church_17_10/output_around_church_afternoon_high_res_0.bag"/>
    <param name="csv_dir" value="/home/marwan/icra_2020/csv_10_cm_keyframe/"/>
    <param name="baseline_name" value="church_teach"/>

    <rosparam>
        experiments_list: [church_zed_nn_night_0, church_zed_baseline_night_0]

        church_zed_nn_night_0:
            experiment_bag: /media/marwan/external_drive/ICRA_2021/around_church_17_10/output_zed_nn_night_high_res_0.bag
            icp_iterations: 300
            correspondence: 10
            ransac: 0
            initial_rot: 90
        
        church_zed_baseline_night_0:
            experiment_bag: /media/marwan/external_drive/ICRA_2021/around_church_17_10/output_zed_baseline_night_high_res_0.bag
            icp_iterations: 300
            correspondence: 10
            ransac: 0
            initial_rot: 270
        
        church_fisheye_nn_night_0:
            experiment_bag: /media/marwan/external_drive/ICRA_2021/around_church_17_10/output_fisheye_nn_night_0.bag
            icp_iterations: 300
            correspondence: 10
            ransac: 0
            initial_rot: 26
    </rosparam>

    <node pkg="pointcloud_align" type="transform_trajectories" name="transform_trajectories" output="screen" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pointcloud_align)/rviz/church.rviz" />
</launch>