<launch>
    <param name="baseline_bag" value="/media/marwan/external_drive/ICRA_2021/workshop_23_10/improved_data/kidnap_teach_output.bag"/>
    <param name="csv_dir" value="/home/marwan/icra_2020/improved_data/"/>
    <param name="baseline_name" value="kidnap_teach"/>
    <rosparam>
        experiments_list: [kidnap_zed_night_2, kidnap_fisheye_night_2]
    </rosparam>
    <param name="kidnap_zed_night_2/experiment_bag" value="/media/marwan/external_drive/ICRA_2021/workshop_23_10/improved_data/workshop_kidnap_zed_night_2_output.bag"/>
    <param name="kidnap_zed_night_2/icp_iterations" value="0"/> <!-- 300 -->
    <param name="kidnap_zed_night_2/correspondence" value="10"/>
    <param name="kidnap_zed_night_2/ransac" value="0"/>
    <!-- <param name="kidnap_zed_night_2/initial_rot" value="40"/> -->
    <param name="kidnap_zed_night_2/initial_rot" value="90"/>

    <param name="kidnap_fisheye_night_2/experiment_bag" value="/media/marwan/external_drive/ICRA_2021/workshop_23_10/improved_data/workshop_kidnap_fisheye_night_2_output.bag"/>
    <param name="kidnap_fisheye_night_2/icp_iterations" value="1000"/>
    <param name="kidnap_fisheye_night_2/correspondence" value="10"/>
    <param name="kidnap_fisheye_night_2/ransac" value="0"/>
    <param name="kidnap_fisheye_night_2/initial_rot" value="180"/>

    <!-- initial_rot 150 zed repeat 0 -->

    <node pkg="pointcloud_align" type="transform_trajectories" name="transform_trajectories" output="screen" />

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pointcloud_align)/rviz/kidnap.rviz" />
</launch>